html(lang="fi")
 head
   meta(charset='utf-8')
   meta(name='viewport' content='width=device-width, initial-scale=1')
   title Admin
   link(rel='stylesheet' href='/css/admin.css')
   link(rel='icon' href='/images/favicon.png')
   script(src='https://unpkg.com/htmx.org@1.9.6')
body
  div Admin
  input(name="password" placeholder='Syötä pääsykoodi' required hx-target="body" hx-trigger="keyup changed" hx-post="/admin/password")
