html(lang="fi")
 head
   meta(charset='utf-8')
   meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1')
   title Morsiammen ja sulhasen häät 2024
   link(rel='stylesheet' href='/css/index.css')
   link(rel='stylesheet' href='/css/variables.css')
   link(rel='stylesheet' href='https://fonts.cdnfonts.com/css/zapfino')
   link(rel='stylesheet' href='https://fonts.cdnfonts.com/css/mochreh')
   link(rel='stylesheet' href='https://fonts.cdnfonts.com/css/griffithgothic-cond-thin')
   link(rel='stylesheet' href='https://fonts.cdnfonts.com/css/getting-everything')
   link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0')
   link(rel='icon' href='/images/favicon.png')
   script(src='https://unpkg.com/htmx.org@1.9.6')
body
  include login